/***********************************************************************************************/
/* Default Styles */
/***********************************************************************************************/

body{
	background: #FFFFFF;
}

/***********************************************************************************************/
/* Header Area  */
/***********************************************************************************************/

.header {
	background: url(../img/bg.png);
	padding: 30px;
	border-radius: 5px;
	margin-bottom: 100px;
	text-shadow: 0px -2px 2px rgba(5, 5, 5, 0.5);
}

.header h1{
	text-shadow: 1px 1px 2px rgba(191, 191, 191, 0.5);
	color: #ffffff;
	text-align: center;
}

/***********************************************************************************************/
/* Form Style */
/***********************************************************************************************/

#form label{
	display: block;
	color: #7A717A;
	font-weight: bold;
}

input[type="text"],
input[type="name"],
input[type="phone"],
input[type="email"],
textarea{

	border:none;
	padding: 10px;
	border-radius: 5px;
	min-width: 280px;
	color: #454545;
	font-style: normal;
	font-size: 16px;
	background-color: #FEF3DC;
	color: #454545;
}

input[type="text"]:hover:focus,
input[type="name"]:hover:focus,
input[type="phone"]:hover:focus,
input[type="email"]:hover:focus,
textarea:hover:focus{
	border-radius: 5px;
	border:none;
	background: #FEEDCA;
}


/***********************************************************************************************/
/* Button & Reset */
/***********************************************************************************************/

input[type="submit"],
input[type="reset"],
button{
	font-size: 16px;
	font-weight: 300;
	border:none;
	padding: 10px 20px;
	color:#3B3B3B;
	border-radius: 2px;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #F9BF3B; /* layer fill content */
	-moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2); /* inner shadow */
	-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2); /* inner shadow */
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2); /* inner shadow */

}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
	font-size: 16px;
	font-weight: 300;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #F5AB35; /* layer fill content */
	-moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2); /* inner shadow */
	-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2); /* inner shadow */
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2); /* inner shadow */
}


/***********************************************************************************************/
/* Footer Area  */
/***********************************************************************************************/

.footer{
	background: #454545;
	border-radius: 5px;
	margin-top: 100px;
}

.footer p{
	color:#ffffff;
	text-align: center;
	padding: 20px;
	text-shadow: 1px 1px 2px rgba(5, 5, 5, 0.5);
}